In [1]:
import pandas as pd

In [2]:
url2 = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt'

In [34]:
df = pd.read_csv(url2,sep="\t")

In [37]:
df.columns

Index(['name calories sodium alcohol cost'], dtype='object')

In [43]:
temp_ser = df['name calories sodium alcohol cost']

In [45]:
temp_list = []
for i in temp_ser:
    temp_list.append(i.split())

In [46]:
temp_list

[['Budweiser', '144', '15', '4.7', '0.43'],
 ['Schlitz', '151', '19', '4.9', '0.43'],
 ['Lowenbrau', '157', '15', '0.9', '0.48'],
 ['Kronenbourg', '170', '7', '5.2', '0.73'],
 ['Heineken', '152', '11', '5.0', '0.77'],
 ['Old_Milwaukee', '145', '23', '4.6', '0.28'],
 ['Augsberger', '175', '24', '5.5', '0.40'],
 ['Srohs_Bohemian_Style', '149', '27', '4.7', '0.42'],
 ['Miller_Lite', '99', '10', '4.3', '0.43'],
 ['Budweiser_Light', '113', '8', '3.7', '0.40'],
 ['Coors', '140', '18', '4.6', '0.44'],
 ['Coors_Light', '102', '15', '4.1', '0.46'],
 ['Michelob_Light', '135', '11', '4.2', '0.50'],
 ['Becks', '150', '19', '4.7', '0.76'],
 ['Kirin', '149', '6', '5.0', '0.79'],
 ['Pabst_Extra_Light', '68', '15', '2.3', '0.38'],
 ['Hamms', '139', '19', '4.4', '0.43'],
 ['Heilemans_Old_Style', '144', '24', '4.9', '0.43'],
 ['Olympia_Goled_Light', '72', '6', '2.9', '0.46'],
 ['Schlitz_Light', '97', '7', '4.2', '0.47']]

In [47]:
df1 = pd.DataFrame(temp_list)

In [48]:
df1

                       0    1   2    3     4
0              Budweiser  144  15  4.7  0.43
1                Schlitz  151  19  4.9  0.43
2              Lowenbrau  157  15  0.9  0.48
3            Kronenbourg  170   7  5.2  0.73
4               Heineken  152  11  5.0  0.77
5          Old_Milwaukee  145  23  4.6  0.28
6             Augsberger  175  24  5.5  0.40
7   Srohs_Bohemian_Style  149  27  4.7  0.42
8            Miller_Lite   99  10  4.3  0.43
9        Budweiser_Light  113   8  3.7  0.40
10                 Coors  140  18  4.6  0.44
11           Coors_Light  102  15  4.1  0.46
12        Michelob_Light  135  11  4.2  0.50
13                 Becks  150  19  4.7  0.76
14                 Kirin  149   6  5.0  0.79
15     Pabst_Extra_Light   68  15  2.3  0.38
16                 Hamms  139  19  4.4  0.43
17   Heilemans_Old_Style  144  24  4.9  0.43
18   Olympia_Goled_Light   72   6  2.9  0.46
19         Schlitz_Light   97   7  4.2  0.47

In [52]:
headers = df.columns

In [56]:
headers = list(headers)

In [60]:
headers = headers[0].split()

In [61]:
headers

['name', 'calories', 'sodium', 'alcohol', 'cost']

In [64]:
df1.columns = headers

In [65]:
df1

                    name calories sodium alcohol  cost
0              Budweiser      144     15     4.7  0.43
1                Schlitz      151     19     4.9  0.43
2              Lowenbrau      157     15     0.9  0.48
3            Kronenbourg      170      7     5.2  0.73
4               Heineken      152     11     5.0  0.77
5          Old_Milwaukee      145     23     4.6  0.28
6             Augsberger      175     24     5.5  0.40
7   Srohs_Bohemian_Style      149     27     4.7  0.42
8            Miller_Lite       99     10     4.3  0.43
9        Budweiser_Light      113      8     3.7  0.40
10                 Coors      140     18     4.6  0.44
11           Coors_Light      102     15     4.1  0.46
12        Michelob_Light      135     11     4.2  0.50
13                 Becks      150     19     4.7  0.76
14                 Kirin      149      6     5.0  0.79
15     Pabst_Extra_Light       68     15     2.3  0.38
16                 Hamms      139     19     4.4  0.43
17   Heilemans_Old_Style      144     24     4.9  0.43
18   Olympia_Goled_Light       72      6     2.9  0.46
19         Schlitz_Light       97      7     4.2  0.47

In [66]:
df1.describe()

              name calories sodium alcohol  cost
count           20       20     20      20    20
unique          20       18     11      14    14
top     Augsberger      144     15     4.7  0.43
freq             1        2      4       3     5

In [67]:
df1.dtypes

name        object
calories    object
sodium      object
alcohol     object
cost        object
dtype: object

In [68]:
df1['calories']

0     144
1     151
2     157
3     170
4     152
5     145
6     175
7     149
8      99
9     113
10    140
11    102
12    135
13    150
14    149
15     68
16    139
17    144
18     72
19     97
Name: calories, dtype: object

In [69]:
df1['calories_int'] = df1['calories'].astype(int)

In [70]:
df1

                    name calories sodium alcohol  cost  calories_int
0              Budweiser      144     15     4.7  0.43           144
1                Schlitz      151     19     4.9  0.43           151
2              Lowenbrau      157     15     0.9  0.48           157
3            Kronenbourg      170      7     5.2  0.73           170
4               Heineken      152     11     5.0  0.77           152
5          Old_Milwaukee      145     23     4.6  0.28           145
6             Augsberger      175     24     5.5  0.40           175
7   Srohs_Bohemian_Style      149     27     4.7  0.42           149
8            Miller_Lite       99     10     4.3  0.43            99
9        Budweiser_Light      113      8     3.7  0.40           113
10                 Coors      140     18     4.6  0.44           140
11           Coors_Light      102     15     4.1  0.46           102
12        Michelob_Light      135     11     4.2  0.50           135
13                 Becks      150     19     4.7  0.76           150
14                 Kirin      149      6     5.0  0.79           149
15     Pabst_Extra_Light       68     15     2.3  0.38            68
16                 Hamms      139     19     4.4  0.43           139
17   Heilemans_Old_Style      144     24     4.9  0.43           144
18   Olympia_Goled_Light       72      6     2.9  0.46            72
19         Schlitz_Light       97      7     4.2  0.47            97

In [71]:
df1[df1['calories_int']>150]

          name calories sodium alcohol  cost  calories_int
1      Schlitz      151     19     4.9  0.43           151
2    Lowenbrau      157     15     0.9  0.48           157
3  Kronenbourg      170      7     5.2  0.73           170
4     Heineken      152     11     5.0  0.77           152
6   Augsberger      175     24     5.5  0.40           175

In [72]:
df1['sodium_int'] = df1['sodium'].astype(int)
df1['alcohol_float'] = df1['alcohol'].astype(float)
df1['cost_float'] = df1['cost'].astype(float)

In [73]:
df1

,name,calories,sodium,alcohol,cost,calories_int,sodium_int,alcohol_float,cost_float
0,Budweiser,144,15,4.7,0.43,144,15,4.7,0.43
1,Schlitz,151,19,4.9,0.43,151,19,4.9,0.43
2,Lowenbrau,157,15,0.9,0.48,157,15,0.9,0.48
3,Kronenbourg,170,7,5.2,0.73,170,7,5.2,0.73
4,Heineken,152,11,5.0,0.77,152,11,5.0,0.77
5,Old_Milwaukee,145,23,4.6,0.28,145,23,4.6,0.28
6,Augsberger,175,24,5.5,0.40,175,24,5.5,0.40
7,Srohs_Bohemian_Style,149,27,4.7,0.42,149,27,4.7,0.42
8,Miller_Lite,99,10,4.3,0.43,99,10,4.3,0.43
9,Budweiser_Light,113,8,3.7,0.40,113,8,3.7,0.40
10,Coors,140,18,4.6,0.44,140,18,4.6,0.44
11,Coors_Light,102,15,4.1,0.46,102,15,4.1,0.46
12,Michelob_Light,135,11,4.2,0.50,135,11,4.2,0.50
13,Becks,150,19,4.7,0.76,150,19,4.7,0.76
14,Kirin,149,6,5.0,0.79,149,6,5.0,0.79
15,Pabst_Extra_Light,68,15,2.3,0.38,68,15,2.3,0.38
16,Hamms,139,19,4.4,0.43,139,19,4.4,0.43
17,Heilemans_Old_Style,144,24,4.9,0.43,144,24,4.9,0.43
18,Olympia_Goled_Light,72,6,2.9,0.46,72,6,2.9,0.46
19,Schlitz_Light,97,7,4.2,0.47,97,7,4.2,0.47

In [83]:
df1['cost_float'].argmax()

14

In [81]:
df1.iloc[df1['cost_float'].argmax()]

name             Kirin
calories           149
sodium               6
alcohol            5.0
cost              0.79
calories_int       149
sodium_int           6
alcohol_float        5
cost_float        0.79
Name: 14, dtype: object

In [84]:
df1['alcohol_float'].argmax()

6

In [85]:
df1.iloc[df1['alcohol_float'].argmax()]

name             Augsberger
calories                175
sodium                   24
alcohol                 5.5
cost                   0.40
calories_int            175
sodium_int               24
alcohol_float           5.5
cost_float              0.4
Name: 6, dtype: object

In [86]:
df1['sodium_int'].argmin()

14

In [87]:
df1['calories_int'].argmin()

15

In [88]:
df1.sort_values("calories_int")

,name,calories,sodium,alcohol,cost,calories_int,sodium_int,alcohol_float,cost_float
15,Pabst_Extra_Light,68,15,2.3,0.38,68,15,2.3,0.38
18,Olympia_Goled_Light,72,6,2.9,0.46,72,6,2.9,0.46
19,Schlitz_Light,97,7,4.2,0.47,97,7,4.2,0.47
8,Miller_Lite,99,10,4.3,0.43,99,10,4.3,0.43
11,Coors_Light,102,15,4.1,0.46,102,15,4.1,0.46
9,Budweiser_Light,113,8,3.7,0.40,113,8,3.7,0.40
12,Michelob_Light,135,11,4.2,0.50,135,11,4.2,0.50
16,Hamms,139,19,4.4,0.43,139,19,4.4,0.43
10,Coors,140,18,4.6,0.44,140,18,4.6,0.44
17,Heilemans_Old_Style,144,24,4.9,0.43,144,24,4.9,0.43
0,Budweiser,144,15,4.7,0.43,144,15,4.7,0.43
5,Old_Milwaukee,145,23,4.6,0.28,145,23,4.6,0.28
7,Srohs_Bohemian_Style,149,27,4.7,0.42,149,27,4.7,0.42
14,Kirin,149,6,5.0,0.79,149,6,5.0,0.79
13,Becks,150,19,4.7,0.76,150,19,4.7,0.76
1,Schlitz,151,19,4.9,0.43,151,19,4.9,0.43
4,Heineken,152,11,5.0,0.77,152,11,5.0,0.77
2,Lowenbrau,157,15,0.9,0.48,157,15,0.9,0.48
3,Kronenbourg,170,7,5.2,0.73,170,7,5.2,0.73
6,Augsberger,175,24,5.5,0.40,175,24,5.5,0.40